*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    background-color: rgb(236, 236, 115);
    height: 100vh;
}
.nav{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: auto;
}
.nav h1{
    color: green;
}
.container h1 span{
    border-bottom: 5px solid purple;
}
.nav ul{
    display: flex;
    list-style: none;
}
.container .nav ul li{
    padding: 10px 40px;
}

/* .section{
    display: flex;
    margin: auto;
    width: 90%;
    align-items: center;
    justify-content: space-between;
} */
.section {
    width: 90%;
    margin: 6rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px;
    align-items: center;
}
h1, p{
    white-space: pre-line;
}
p{
    margin-block: 14px;
    font-size: 20px;
}
h1{
    font-size: 50px;
}
img{
    width: 100%;
}
.btn2{
    background-color: green;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    outline: none;
    cursor: pointer;
}
.btn1{
    border: none;
    font-size: 18px;
    background: transparent;
    padding: 8px 15px;
    cursor: pointer;
}
.home{
    border: 2px solid green;
    border-radius: 20px;
}