*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.nav-container{
    width: 100%;
    height: 100vh;
}
.sub-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    margin: auto;
    width: 90%;
}
span{
    color: orange;
}

.logo h1{
    color: rgb(228, 39, 228);
}
ul{
    display: flex;
}
ul li{
    list-style: none;
}
li a{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    font-size: 17px;
}
.btn1 button{
    outline: none;
    border: 2px solid rgb(228, 39, 228);
    background: none;
    padding: 5px 10px;
    font-size: 17px;
}
.btn1 button:hover{
    font-size: 1rem;
}

.btn2 button{
    padding: 10px 15px;
    background: rgb(228, 39, 228);
    border: none;
    color: #fff;
    font-size: 17px;
}
.btn2 button:hover{
    background-color: rgba(255, 108, 255, 0.949);
}

.hero
{
    display: flex;
    width: 90%;
    justify-content: space-between;
    padding: 20px 50px;
    margin: auto;
}

.left-container
{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.intro{
    font-size: 2rem;
}
.hero-text{
    font-size: 17px;
}

.left-container .btn
{
    text-decoration: none;
    background: rgb(228, 39, 228);
    padding: 10px 15px;
    width: fit-content;
    color: #fff;
}
.left-container .btn:hover{
    background-color: rgba(255, 108, 255, 0.949);
}
.left-container .spn{
    font-size: 1rem;
    font-weight: bold;
    color: white;
}

.right-container
{
    width: 650px;
    height: 400px;  
}

.right-container img
{
    object-fit: cover;
    width: 100%;
}

.sec2{
    display: flex;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
}
.sec2 .hd{
    margin-block: 4rem 10px;
}
.p-tag{
    white-space: pre-line;
    text-align: center;
    font-size: 17px;
}

.sec3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem auto 3rem;
    width: 90%;
    flex-wrap: wrap;
    gap: 1.3rem;
}
.hdtop {
    width: 35%;
    text-align: center;
    padding: 2rem 0;
    border-bottom: 2px solid grey;
}
.hdtop h3{
    margin-bottom: 1.3rem;
}
.down{
    white-space: pre-line;
    text-align: center;
    font-size: 17px;
}
.btns {
    text-align: center;
}
.but{
    text-decoration: none;
    background: rgb(228, 39, 228);
    padding: 7px;
    color: #fff;
    border: none;
    outline: none;
    font-size: 17px;
}
.but:hover{
    background-color: rgba(255, 108, 255, 0.949);
}
.sec4{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 90%;
}

.post1{
    width: 500px;
    height: 250px;
    background: rgba(246, 148, 246, 0.719);
    display: flex;
    padding: 4.5rem 1.5rem 0 2rem;
    align-items: center;
    margin-top: 3rem;
    justify-content: space-between;
}

.bghd1, h2{
    color: black;
    font-size: 16px;
}

.m-money{
    margin-top: 19px;
}
.m-money h6{
    font-size: 15px;
}

.bmoney{
    margin-top: 1rem;
}
.btn-money{
    text-decoration: none;
    background: rgb(228, 39, 228);
    padding: 7px 25px;
    color: #fff;
    border: none;
    outline: none;
    font-size: 17px;
}
.btn-money:hover{
    background-color: rgba(255, 108, 255, 0.949);
}
.chair1{
    width: 400px;
    height: 500px;
}
.chair1 img{
    /* object-fit: cover; */
    width: 100%;
    height: 45%;
    margin-top: 6rem;
    margin-left: 2em;
}
.sec5{
    margin: auto;
    width: 90%;
    padding: 1rem 0rem 3rem;
    border-bottom: 2px solid grey;
}
.head5{
    margin-top: 6rem;
}

.post2{
    display: flex;
    margin-top: 1rem;
    align-items: center;
    justify-content: space-between;
}
.p-text p{
    white-space: pre-line;
    margin-top: 2rem;
}
.ctn{
    padding: 10px 15px;
    background: rgb(228, 39, 228);
    border: none;
    color: #fff;
    margin-top: 1.5rem;
    font-size: 1.1rem;
}
.ctn:hover{
    background-color: rgba(255, 108, 255, 0.949);
}
.right-post{
    width: 500px;
    height: 300px;
}
.right-post img{
    width: 100%;
    box-shadow: 0 0 3px 0 gray ;
}

.gallery{
    margin: 6rem auto;
    width: 90%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.nav-list{
    align-items: center;
    justify-content: center;
}
.nav-list, li a{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    font-size: 17px;
    margin: 5px auto;
}
.link a{
    background-color: rgb(228, 39, 228);
    padding: 1rem 1.6rem;
    color: white;
}
.link a:hover{
    background-color: rgba(255, 108, 255, 0.949);
    transition: 0.2s ease-in-out;
}
.image{
    width: 350px;
    height: 300px;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;  
}
.img-block{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 450px);
    grid-template-rows: repeat(3, 350px);
    margin: 5rem auto;
    gap: 5rem 2.9rem;
    align-content: center;
}
.img-block, .img1, .img2, .img3, .img4, .img5{
    justify-content: center;
    align-content: center;
}

.img1{
    width: 430px;
    height: 300px;
    border-radius: 10px;
    background-image: url(chill-everything-perfect-portrait-happy-delighted-female-african-american-customer-recommending-good-quality-product-showing-ok-gesture-smiling-satisfied-white-wall.jpg);
    background-size: cover;
}
.img2{
    background-image: url(pexels-andrea-piacquadio-3793241.jpg);
    background-size: cover;
    width: 430px;
    height: 300px;
    border-radius: 10px;
}
.img3{
    background-image: url(pexels-pixabay-413885.jpg);
    background-size: cover;
    width: 430px;
    height: 300px;
    border-radius: 10px;
}
.img4{
    background-image: url(businesswoman-executive-professional-success-concept.jpg);
    background-size: cover;
    width: 430px;
    height: 300px;
    border-radius: 10px;
}
.img5{
    background-image: url(pexels-andrea-piacquadio-3793241.jpg);
    background-size: cover;
    width: 430px;
    height: 300px;
    border-radius: 10px;
}

.new-sec{
    display: flex;
    width: 90%;
    justify-content: space-between;
    padding: 20px 50px;
    margin: 5rem auto;
}
.btn-contain button{
    padding: 10px 17px;
    background: rgb(228, 39, 228);
    border: none;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
}
.btn-contain button:hover{
    background-color: rgba(255, 108, 255, 0.949);
    transition: 0.3 ease-in-out;
}
.btn-contain{
    margin-top: 1.4rem;
}
.left-side h1{
    white-space: pre-line;
    margin-block: 1rem;
}
.ptext{
    font-size: 17px;
    margin-bottom: 1rem;
}
.right-side{
     width: 550px;
    height: 350px; 
}
.right-side .src{
    object-fit: cover;
    width: 100%;
}

.new-sec2{
    display: flex;
    width: 90%;
    justify-content: space-between;
    padding: 20px 50px;
    margin: 6rem auto;
}

.testify{
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
    width: 90%;
}
.testify h2{
     font-size: 25px;
     text-align: center;
}
.drill{
     display: flex;
     width: 90%;
     justify-content: space-between;
     margin: auto;
     align-items: center;
}
.amz{
    margin-top: 1.3rem;
}

.right-side .src2{
    width: 500px;
    height: 350px;
}
.testi{
    margin-top: 1.3rem;
}
.tset{
    white-space: pre-line;
    font-size: 17px;
}

.name{
    margin-top: 2rem;
}
.brd{
    margin-top: 1.3rem;
    font-size: 17px;
}

.end{
    width: 90%;
    height: 30vh;
    margin: 7rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(246, 148, 246, 0.719);
    border-radius: 0 70px 0 0;
}
.leftt{
    padding: 1rem;
}

.ptxt{
    font-size: 17px;
    white-space: pre-line;
}
.btn-con{
    margin-right: 6rem;
    margin-top: 10rem;   
}
.btn-con button{
    border: 2px solid rgb(231, 15, 231);;
    outline: none;
    background: none;
    padding: 7px 18px;
    font-size: 14px;
}
.btn-con button:hover{
    cursor: pointer;
}

footer{
    width: 90%;
    background-color: rgb(125, 6, 125);
    color: #fff;
    height: 50%;
    margin: auto;
}
.foot{
    display: flex;
    width: 85%;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    padding: 4rem 10rem 4rem 4rem;
    border-bottom: 2px solid rgb(35, 33, 33);
}
.foot1{
    margin-bottom: 2rem;
}

.footp{
    white-space: pre-line;
    font-size: 15px;
}
.fop{
    margin-top: 2rem;
}

.hd{
    color: #fff;
}
.list{
    display: block;
    margin-block: 10px;
}
.list li{
    margin-block: 15px;
}

i{
    font-size: 1.3rem;
}

@media screen and (max-width: 1024px){
    .new-sec2{
        padding: 10px 15px;
        margin: 4rem auto;
    }
}